html,body {
	background: #F4F4F4;
	font: 16px Arial, Helvetica, sans-serif;
	color: #333;
}

/**
==========  Helpers ==========
*/

.row {
	width: 950px;
	margin: 0 auto;
}

.title {
	display: block;
	width: 100%;
	font-size: 2.5em;
	color: #12741B;
	margin: 40px 0;
	text-align: center;
}

.btn-default {
	display: block;
	margin: auto;
	width: 70px;
	padding: 10px 15px;
	color: #12741B;
	/*background: #12741B;*/
	font-size: 14px;
}

/**
==========  Form ==========
*/
.form-input {
	display: block;
	padding: 10px;
	border: 1px solid #CCC;
	outline-color: #27A633;
	color: #12741B;
	font-size: 2em;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.form-input::-webkit-input-placeholder {
	color: #12741B;
	margin: auto;
}

#input-search-teams {
	width: 80%;
	margin: 40px auto;
}

/**
==========  Main Content ==========
*/
#header {
	margin: 0;
	padding: 0;
}

section[role="main"] {
	background: #FFF;
	margin: 0 auto 100px auto;
	padding: 10px;

	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#map {
	width: 100%;
	height: 400px;
}

.table {
	width: 100%;
	margin: 5px 0;
}

.table thead {

}

.table thead th {
	padding: 10px 0;
	color: #12741B;
	font-weight: bold;
	font-size: 15px;
	border: 1px solid #CCC;
}

.table tbody tr{
	width: 100%;
	padding: 20px 0;
}
.table tbody tr:hover{
	background: #eee;
	cursor: pointer;
}
.table tbody tr.active{
	background: linear-gradient(#F2F2F2, #C2C2C2);
	background: -moz-linear-gradient(#F2F2F2, #C2C2C2);
	background: -webkit-linear-gradient(#F2F2F2, #C2C2C2);
	background: -ms-linear-gradient(#F2F2F2, #C2C2C2);
	background: -o-linear-gradient(#F2F2F2, #C2C2C2);
}
.table tbody tr td{
	padding: 5px 0;
}

/*.table tbody tr:nth-child(even) { background: #CCC; }*/

.table tbody {
	text-align: center;
}

/* Alerts */
.alert {
	width: 100%;
	display: table;
}
.alert.alert-info {
	margin: 5px 0;
	padding: 12px 10px;
	color: #AB2424;
	background: rgb(255, 181, 181);
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}






















